<footer class="footer text-center">
	<div class="container">
		<div class="row">
			<!-- Footer Social Icons dacorsa.com -->
			<div class="col-lg-6 ms-auto">
				<h4 class="text-uppercase mb-4 mt-4">dacorsa.com</h4>
				{{ range .Site.Params.social.dacorsa }} 
					<a class="btn btn-outline-light btn-social mx-1" href="{{.link}}" target="_blank" title="{{.text}}">
						<em class="{{.family}} {{.icon}}"></em>
					</a>
			  	{{end}}
			</div>
			<!-- Footer Social Icons Personal -->
			<div class="col-lg-6 ms-auto">
				<h4 class="text-uppercase mb-4 mt-4">Personal</h4>
				{{ range .Site.Params.social.personal }} 
					<a class="btn btn-outline-light btn-social mx-1" href="{{.link}}" target="_blank" title="{{.text}}">
						<em class="fa-brands fa-{{.icon}}"></em>
					</a>
			  	{{end}}
			</div>
		</div>
	</div>
</footer>
<div class="copyright py-4 text-center text-white">
	<div class="container"><small>
		&copy; All&nbsp;Rights&nbsp;Reserved &middot; June&nbsp;2012&nbsp;&minus;&nbsp;{{ now.Format "January 2006" }} &middot; Edwin&nbsp;van&nbsp;Nes,&nbsp;Netherlands		
	</small></div>
</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>
{{ partial "project-modal.html" . }}


</html>

		<!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
