{{ if .IsHome }}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="/profile.png" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0">{{ .Site.Title }}</h1>
        <!-- Masthead Subheading-->
        <h4 class="masthead-subheading font-weight-light mb-0">{{ .Site.Params.TagLine }}</h4>
    </div>
</header>
{{ else }}
<header class="masthead2 text-white text-center"></header>
{{ end }}