{{ $element :=  first .Site.Params.HomePosts (where .Site.RegularPages.ByDate.Reverse "Section" "posts") }}

{{ if $element }}
<section class="page-section portfolio pb-5" id="posts">
	<div class="container">
		<!-- Portfolio Section Heading-->
		<h1 class="page-section-heading text-center text-uppercase text-secondary">{{ T "Recent" }} {{ T "Posts" }}</h1>
		<div class="row justify-content-left">
			<!-- Portfolio Item 1-->
            {{ range $index, $element }}
				<div class="col-md-4">
					<div class="card mb-4">
						<a href="{{.Permalink}}">
							{{ $image := .Page.Resources.GetMatch .Params.preview }}
							{{ if $image }}
								<img class="card-img-top" src="{{ $image.RelPermalink }}" alt="Preview image for '{{.Title }}' post">
							{{ else }}
								<img class="card-img-top" src="/img/posts_preview.png">
							{{ end }}
						</a>
					</div>
				  </div>                
				{{ end }}
		</div>
	</div>
</section> 
{{ end }}