<!DOCTYPE html>
<html lang="en-gb">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	{{ if eq .Page.RelPermalink "/" }}
		<title>{{ .Title }}</title>
	{{ else }}
		<title>{{ .Title }} &middot; attentionspan.nl</title>
	{{ end }}
	{{ if .Summary }}
		<meta name="description" content="{{ .Summary | safeHTML }}">
	{{ else }}
		{{ with site.Params.description }}<meta name="description" content="{{ . | safeHTML }}">{{ end }}
	{{ end }}
	{{ with site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-KZYDFM7T3F"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-KZYDFM7T3F');
	</script>
	<link rel="icon" type="image/x-icon" href="https://www.attentionspan.nl/favicon.ico?v=ideas" />
	<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/syntax.css" />
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body id="page-top">
	{{ partial "navigation.html" . }}
    {{ partial "hero.html" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer.html" . }}
	{{ block "scripts" . }}{{ end }}
	<script data-goatcounter="https://attentionspan.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>
