<table>
    <thead>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Engine</th>
        <th>Exterior</th>
        <th></th>
    </thead>
    <tbody>
        {{ range sort (sort site.Data.cars "bouwjaar") "merk" }}
            <tr>
                <td>
                    {{ if .image }}
                    <a href="{{ .image | safeURL }}" class="glightbox" data-description="{{ .title }}">
                        <img class="thumbnail" src="{{ .image | safeURL }}" alt="{{ .title }}" />
                    </a>
                    {{ end }}
                </td>
                <td>{{ .bouwjaar }}</td>
                <td>{{ .merk }}</td>
                <td>{{ .model }}</td>
                <td>{{ .engine }}</td>
                <td>{{ .exterieur }}</td>
                <td>{{ .img }}</td>
            </tr>
        {{ end }}
    </tbody>
</table>
