<div class="circuits"></div>
<ul class="col-lg-6 col-md-12">
    {{ $prev := "" }}
    {{ $counter := 0 }}
    {{ range sort (sort site.Data.circuits "circuit") "country" }}
        {{ if ne $prev .country }}
            <li class="country">
                <img class="flag" src="/img/flagz/{{ lower .iso }}.svg" alt="{{ .country }}" title="{{ .country }}" />
                <strong>{{ .country }}</strong>
            </li>
            {{ $prev = .country }}
        {{ end }}
        <li>
            <a class="circuit" href="{{- .url -}}" target="_blank" onmouseover="bounceMarker({{- $counter | safeJS -}});" onmouseout="bounceOff();">{{ .circuit }}</a>
        </li>
        {{ $counter = add $counter 1 }}        
    {{ end }}
</ul>

<div class="col-lg-6 col-md-12" id="map"></div>

<script>
    const markers = [];
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            mapTypeId: 'roadmap',
            disableDefaultUI: true
        });
        let bounds = new google.maps.LatLngBounds();

        {{ $counter := 0 }}
        {{ range sort (sort site.Data.circuits "circuit") "country" }}
            {{ if .latitude }}
                bounds.extend(new google.maps.LatLng({{- .latitude -}} ,{{- .longitude -}}));
                markers[{{$counter | safeJS}}] = new google.maps.Marker({ position: {lat:{{- .latitude -}},lng:{{- .longitude -}}}, map:map });
                {{ if .url }}
                    google.maps.event.addListener(markers[{{$counter | safeJS}}], 'click', function() {
                        window.open('{{ .url | safeJS }}', '_blank').focus();
                    });
                {{ end }}
            {{ end }}
            {{ $counter = add $counter 1 }}
        {{- end -}}
        map.fitBounds(bounds);
    }
    function bounceMarker(i){
        if ((markers != undefined) && markers.length > 0) {
            bounceOff();
            markers[i].setAnimation(google.maps.Animation.BOUNCE);
        }
    }
    function bounceOff(){
        if ((markers != undefined) && markers.length > 0) {
            for (let index = 0; index < {{- len site.Data.circuits | safeJS -}}; index++) { 
                markers[index].setAnimation(null);
            }
        }
    }
</script>
<script async="false" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaRcZR3XoxqZ0B44DwO-8tWL4HGDimHdc&callback=initMap&libraries=&v=weekly"></script>

<style>
    div.circuits {
        height: 2rem;
        clear:both;
    }
    img.flag {
        height: 1.5rem;
        margin-right: 0.5rem;
    }
    div#map {
        height: 50rem;
    }
    li.country {
        list-style: none;
    }
    a.circuit {
        color: #222529;
        text-decoration: none;
    }
    a.circuit:hover {
        color: #BA533A;
    }
</style>