
<ul class="col-lg-6 col-md-12">
    {{ $prev := "" }}
    {{ range sort (sort site.Data.circuits "circuit") "country" }}
        {{ if eq $prev .country }}
        {{ else }}
        <li>
            <strong>{{ .country }}</strong>
        </li>
        {{ $prev = .country }}
        {{ end }}
        <li>
            <img class="flag" src="/img/flagz/{{ lower .iso }}.svg" alt="{{ .country }}" title="{{ .country }}" />
            {{ .circuit }}
        </li>
    {{ end }}
</ul>

<div class="col-lg-6 col-md-12" id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaRcZR3XoxqZ0B44DwO-8tWL4HGDimHdc&callback=initMap&libraries=&v=weekly" async></script>
<script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            mapTypeId: 'roadmap',
            disableDefaultUI: true
        });
        let bounds = new google.maps.LatLngBounds();

        {{ $counter := 0 }}
        {{ range where site.Data.circuits "latitude" "!=" nil }}
            bounds.extend(new google.maps.LatLng({{- .latitude -}} ,{{- .longitude -}}));
            const marker_{{$counter | safeJS}} = new google.maps.Marker({ position: {lat:{{- .latitude -}},lng:{{- .longitude -}}}, url: '{{- .url -}}', map:map });
            google.maps.event.addListener(marker_{{$counter | safeJS}}, 'click', function() {
                window.open('{{ .url | safeJS }}', '_blank').focus();
            });
            {{ $counter = add $counter 1 }}
        {{- end -}}
        map.fitBounds(bounds);
    }
</script>

<style>
    img.flag {
        height: 1.5rem;
        margin-right: 0.5rem;
    }
    div#map {
        height: 40rem;
        padding-right: 2em;
    }
    ul {
        list-style: none;
    }
</style>
