<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <div class="row justify-content-left">
            {{ if (isset .Params "sort") }}
                {{  .Scratch.Set "data" (sort (index site.Data (.Get "data")) (.Get "sort") (.Get "order")) }}
            {{ else }}
                {{  .Scratch.Set "data" (index site.Data (.Get "data")) }}
            {{ end }}

            {{ range .Scratch.Get "data"  }}
              <div class="col-md-6">
                <div class="card mb-4 list-card" id="{{- anchorize .title -}}">
                    <div class="row">
                        <div class="col-md-4">
                            {{ if .image }}
                                <a href="{{ .image | safeURL }}" class="glightbox" data-description="{{ .title }}">
                                    <img src="{{ .image | safeURL }}" alt="{{ .title }}" />
                                </a>
                            {{ end }}
                        </div>
                        <div class="col-md-8">
                            <div class="list-card-block">
                                <h5 class="card-title">{{ .title }}</h5>
                                <p>{{ .description | safeHTML }}</p>
                                <p class="badge">{{ .category }}</p>
                                    {{ if .link }}
                                    <p class="float-end">
                                        <a href="{{- .link -}}" target="_blank" class="btn btn-sm btn-primary" title="{{.title}}">
                                            Link&nbsp;
                                            <i class="fa fa-square-up-right"></i>
                                        </a>
                                    </p>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            {{ end }}
        </div>
    </div>
</section>

<style>
    div.list-card img {
        width: 100%;
        padding: 1rem;
    }
    div.list-card-block {
        margin: 1rem;
    }
</style>

